@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

ol {
  max-height: 100%;
  overflow: hidden;
  opacity: 1;
  transition: max-height 0.5s, opacity 0.5s;
}

ol.show {
  max-height: 100%; /* Adjust to your preference */
  opacity: 1;
}

ol.hide {
  max-height: 350px;
  opacity: 0.7;
}
